.chatbot-wrapper {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.chatbot-container {
  display: none;
  flex-direction: column;
  height: 500px;
  width: 350px;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: white;
  margin-bottom: 10px;
}

.chatbot-container.open {
  display: flex;
}

.chatbot-header {
  background-color: #03571e;
  color: white;
  padding: 10px;
  text-align: center;
  font-weight: bold;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.messages {
  flex: 1;
  overflow-y: auto;
  padding: 10px;
}

.message {
  margin: 10px 0;
  padding: 10px;
  border-radius: 10px;
  max-width: 80%;
  display: flex;
  
}

.user {
  align-self: flex-end;
  background-color: rgb(234, 234, 234);
  color: #0a4a14;
  justify-content: flex-end;
  margin-left:160px;
  max-width: 50%;
}

.bot {
  align-self: flex-start;
  background-color: #0a4a14;
  color: rgb(255, 255, 255);
  justify-content: flex-start;
  max-width: 70%;
}

.input-container {
  display: flex;
  border-top: 1px solid #ddd;
  padding: 10px;
}

input {
  flex: 1;
  border: none;
  padding: 10px;
  border-radius: 5px;
  margin-right: 10px;
}

button {
  padding: 10px 20px;
  border: none;
  background-color: rgba(3, 55, 32, 0.458);
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: rgba(3, 55, 32, 0.7);
}

.chatbot-icon {
  width: 60px;
  height: 60px;
  cursor: pointer;
  border-radius: 50%;
}

.chatbot-icon img {
  width: 100%;
  height: 100%;
}
